body{
 margin:0;
 font-family:Arial;
 background:#0a0a0a;
 color:white;
}

/* HEADER */

.topbar{
 display:flex;
 justify-content:space-between;
 padding:20px 40px;
 background:black;
 border-bottom:2px solid gold;
 align-items:center;
}

.logo{
 font-size:24px;
 font-weight:bold;
 color:gold;
}

.menu{
 display:flex;
 gap:20px;
 align-items:center;
}

button{
 background:gold;
 border:none;
 padding:8px 20px;
 font-weight:bold;
 cursor:pointer;
 border-radius:6px;
}


/* BANNER */

.banner{
 height:280px;
 background:url("https://images.unsplash.com/photo-1596838132731-3301c3fd4317") center/cover;
 display:flex;
 align-items:center;
 justify-content:center;
 text-align:center;
 position:relative;
}

.banner::after{
 content:"";
 position:absolute;
 width:100%;
 height:100%;
 background:rgba(0,0,0,0.6);
}

.banner-text{
 position:relative;
 z-index:2;
}

.banner-text h1{
 font-size:40px;
 color:gold;
}


/* GAME GRID */

.game-container{
 padding:40px;
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
 gap:25px;
}


/* GAME CARD */

.game-card{
 position:relative;
 height:260px;
 border-radius:14px;
 overflow:hidden;
 cursor:pointer;
 transition:0.3s;
}

.game-card img{
 width:100%;
 height:100%;
 object-fit:cover;
}

.game-overlay{
 position:absolute;
 bottom:0;
 width:100%;
 background:linear-gradient(transparent,black);
 padding:15px;
 font-size:18px;
}

.game-card:hover{
 transform:scale(1.05);
 box-shadow:0 0 20px gold;
}
