body{
 margin:0;
 background:#070707;
 color:white;
 font-family:sans-serif;
 text-align:center;
}

.banner img{
 width:100%;
 height:200px;
 object-fit:cover;
}

.slot{
 margin-top:30px;
}

.reels{
 display:flex;
 justify-content:center;
 gap:10px;
}

.reel{
 width:100px;
 height:100px;
 background:#111;
 border:2px solid gold;
 font-size:40px;
 display:flex;
 align-items:center;
 justify-content:center;
 transition:0.3s;
}

.control{
 margin-top:30px;
}

.spin{
 padding:15px 40px;
 background:gold;
 border:none;
 font-size:20px;
 cursor:pointer;
}
